<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801750092646-fgjakk5hd239r00k9rjj4voqqdmrgeev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801750092646-fgjakk5hd239r00k9rjj4voqqdmrgeev</string>
	<key>API_KEY</key>
	<string>AIzaSyBSKuESPHgcoWgc3kMS1YPNEfK2xUc8yRc</string>
	<key>GCM_SENDER_ID</key>
	<string>801750092646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geofrat.PasswordManager</string>
	<key>PROJECT_ID</key>
	<string>passwordmanager-d00e6</string>
	<key>STORAGE_BUCKET</key>
	<string>passwordmanager-d00e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801750092646:ios:8cc120f3df534d7f0696a7</string>
	<key>DATABASE_URL</key>
	<string>https://passwordmanager-d00e6.firebaseio.com</string>
</dict>
</plist>